h1 {
  color: #fa7f08;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 0;
  z-index: 100;
  border-bottom: 2px solid #eee;
  display: block;
  width: 100%;
}

h2 {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 60px; /* Adjust based on h1 height */
  background-color: white;
  padding: 5px 0;
  z-index: 90;
  display: block;
  width: 100%;
}

b,
strong {
  color: #fa7f08;
}
